﻿@model ProjectsResourcePlanner.Models.ViewModels.ProjectAllocationPeriodViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-4">
        <h1>Create</h1>

        <h4>ProjectAllocationPeriod</h4>
    </div>
    <div class="col-8">
        <table class="table" id="membersTable">
            <thead>
                <tr>
                    <th>Member</th>
                    <th>Hours Allocated</th>
                    <th>Hours Available</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var member in Model.AvailableMembersinPeriod.Select(x=>x.Member))
                    {
                        <tr>
                            <td>@member.Name</td>
                            <td><span id="allocated_@member.MemberId">0</span></td>
                            <td><span id="available_@member.MemberId">@Model.AvailableMembersinPeriod.FirstOrDefault(x=>x.MemberId==member.MemberId).Hours</span></td>
                        </tr>
                    }


                }
            </tbody>
        </table>
    </div>
</div>

<hr />

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.AllocationPeriodId)
    @Html.HiddenFor(model => model.AvailableHours)
    <table class="table" id="allocationTable">
        <thead>
            <tr>

                <th>
                    @Html.LabelFor(x => x.Projects)
                </th>
                <th>
                    @Html.Label("SLA Hours")
                </th>
                <th>
                    @Html.Label("Primary Percentage")
                </th>
                <th>
                    @Html.Label("Primary Member")
                </th>
                <th>
                    @Html.Label("Secondary Percentage")
                </th>
                <th>
                    @Html.Label("Secondary Member")
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 0;
                foreach (var pap in Model.ProjectAllocationPeriods)
                {
                    <tr>
                        @Html.Hidden("[" + count + "]." + "ProjectId", Model.ProjectAllocationPeriods.SingleOrDefault(x => x.ProjectId == pap.ProjectId).ProjectId)
                        @Html.Hidden("[" + count + "]." + "AllocationPeriodId", Model.ProjectAllocationPeriods.SingleOrDefault(x => x.ProjectId == pap.ProjectId).AllocationPeriodId)
                        @Html.Hidden("[" + count + "]." + "Hours", Model.ProjectAllocationPeriods.SingleOrDefault(x => x.ProjectId == pap.ProjectId).Hours)
                        <th>@pap.Project.Name</th>
                        <td id="SLAfor_@pap.ProjectId">@pap.Project.SLAHours</td>
                        <td>
                            @*@Html.TextBoxFor(model => model.ProjectAllocationPeriods.SingleOrDefault(x => x.ProjectId == pap.ProjectId).PrimaryAllocationPercentage, new { name = "PrimaryAllocationPercentage_" + pap.ProjectId, id = "PrimaryAllocationPercentage_" + pap.ProjectId, @class= "form-control" })*@
                            @Html.TextBox("[" + count + "]." + "PrimaryAllocationPercentage", Model.ProjectAllocationPeriods.SingleOrDefault(x => x.ProjectId == pap.ProjectId).PrimaryAllocationPercentage.ToString("F"), new { id = "PrimaryAllocationPercentage_" + pap.ProjectId, name = "[" + count + "]." + "PrimaryAllocationPercentage", @class = "form-control" })
                            @Html.ValidationMessageFor(x=>x.ProjectAllocationPeriods.SingleOrDefault(y => y.ProjectId == pap.ProjectId).PrimaryAllocatedMemberId)
                        </td>
                        <td>
                            <select class="champion-members form-control" name="[@count].PrimaryAllocatedMemberId"></select>
                            @*@Html.TextBox("[" + count + "]." + "PrimaryAllocatedMemberId", Model.ProjectAllocationPeriods.SingleOrDefault(x => x.ProjectId == pap.ProjectId).PrimaryAllocatedMemberId, new {name = "[" + count + "]." + "PrimaryAllocatedMemberId", id = "PrimaryAllocatedMemberId" + pap.ProjectId, @class = "form-control"})*@
                        </td>
                        <td>@Html.TextBox("[" + count + "]." + "SecondaryAllocationPercentage", Model.ProjectAllocationPeriods.SingleOrDefault(x => x.ProjectId == pap.ProjectId).SecondaryAllocationPercentage.ToString("F"), new { name = "[" + count + "]." + "SecondaryAllocationPercentage", id = "SecondaryAllocationPercentage_" + pap.ProjectId, @class = "form-control", @readonly = "readonly" })</td>
                        <td>
                            <select class="champion-members form-control" name="[@count].SecondaryAllocatedMemberId"></select>
                            @*@Html.TextBox("[" + count + "]." + "SecondaryAllocatedMemberId", Model.ProjectAllocationPeriods.SingleOrDefault(x => x.ProjectId == pap.ProjectId).SecondaryAllocatedMemberId, new { name = "[" + count + "]." + "SecondaryAllocatedMemberId", id = "SecondaryAllocatedMemberId_" + pap.ProjectId, @class = "form-control" })*@
                        </td>

                    </tr>
                    count++;
                }

            }

        </tbody>
    </table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
        <!-- Button trigger modal -->

    </div>
}


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    function CalculateAllRatesFromSelectElement(element) {
        var first10Chars = element.name.substring(0, 10);
        var currentAllocatedHours = $('#allocated_' + element.value).text();
        

        var currentTableRowElement = $(element).closest("tr");
        var newAllocatedHours = (currentTableRowElement.find("[name^='" + first10Chars + "']").val() / 100) * currentTableRowElement.find("[id^=SLA]").text();
        var newAllocatedValue = parseFloat(newAllocatedHours) + parseFloat(currentAllocatedHours);
        $('#allocated_' + element.value).text(newAllocatedValue);

        //flag overBooked
        var availableHours = parseFloat($('#available_' + element.value).text());

        if (newAllocatedValue > availableHours) {
            var tableRow = $('#allocated_' + element.value).closest("tr");
            tableRow.addClass("table-danger");
            var member = tableRow.find("td:first-child").text();
            toastr.error(member+' has exceeded his/her available hours.', 'Negative SLA');
        } else {
            $('#allocated_' + element.value).closest("tr").removeClass("table-danger");
        }
    };

    function SetAllAllocatedHours() {  
        var allPrimarySelectElements = $("select[name*='PrimaryAllocatedMemberId']");//$(this).find("[name^='PrimaryAllocatedMemberId']").val();
        var allSecondarySelectElements = $("select[name*='SecondaryAllocatedMemberId']");//$(this).find("[name^='PrimaryAllocatedMemberId']").val();
        var allAllocatedElements = $("span[id*='allocated_']");
        jQuery.each(allAllocatedElements, function (index, item) {
            $(this).text("0");
        });

        jQuery.each(allPrimarySelectElements, function (index, item) {
            CalculateAllRatesFromSelectElement(this);
        });

        jQuery.each(allSecondarySelectElements, function (index, item) {
            CalculateAllRatesFromSelectElement(this);
        });
    }
    $(document).ready(function() {

        $('.champion-members').select2({
            theme: "bootstrap",
            placeholder: "Type the first 3 letters of the Members' name",
            minimumInputLength: 3,
            ajax: {
                url: '@Url.Action("GetAllMembers", "Projects")',
                dataType: 'json',
                traditional: true,
                width: 'resolve',
                data: function(param) {
                    return {
                        "searchTerm": param.term
                    };
                    // Additional AJAX parameters go here
                },
                processResults: function(data) {
                    return {
                        results: data.items.map(function(item) {
                            return {
                                id: item.memberId,
                                text: item.memberName
                            };
                        })
                    };
                }
            }
        });

        $('.champion-members').on('select2:select', function (e) {
            var data = e.params.data;
            SetAllAllocatedHours();
        });

        $('tr').on('change', 'input[id^=PrimaryAllocationPercentage_]', function () {
           // alert(this.value);
            $(this).closest("tr").find("[id^=SecondaryAllocationPercentage]").val(100 - this.value);
            SetAllAllocatedHours();
        });
    });

</script>