﻿@model ProjectsResourcePlanner.Models.DomainModels.ProjectAllocationPeriod

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>ProjectAllocationPeriod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <input type="hidden" asp-for="AllocationPeriodId" />
            <div class="form-group">
                <label asp-for="Hours" class="control-label"></label>
                <input asp-for="Hours" class="form-control" />
                <span asp-validation-for="Hours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryAllocatedMemberId" class="control-label"></label>
                <select asp-for="PrimaryAllocatedMemberId" class="form-control" asp-items="ViewBag.PrimaryAllocatedMemberId"></select>
                <span asp-validation-for="PrimaryAllocatedMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondaryAllocatedMemberId" class="control-label"></label>
                <select asp-for="SecondaryAllocatedMemberId" class="form-control" asp-items="ViewBag.SecondaryAllocatedMemberId"></select>
                <span asp-validation-for="SecondaryAllocatedMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TertiaryAllocatedMemberId" class="control-label"></label>
                <select asp-for="TertiaryAllocatedMemberId" class="form-control" asp-items="ViewBag.TertiaryAllocatedMemberId"></select>
                <span asp-validation-for="TertiaryAllocatedMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrimaryAllocationPercentage" class="control-label"></label>
                <input asp-for="PrimaryAllocationPercentage" class="form-control" />
                <span asp-validation-for="PrimaryAllocationPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecondaryAllocationPercentage" class="control-label"></label>
                <input asp-for="SecondaryAllocationPercentage" class="form-control" />
                <span asp-validation-for="SecondaryAllocationPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TertiaryAllocationPercentage" class="control-label"></label>
                <input asp-for="TertiaryAllocationPercentage" class="form-control" />
                <span asp-validation-for="TertiaryAllocationPercentage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
