﻿@model IEnumerable<ProjectsResourcePlanner.Models.DomainModels.ProjectAllocationPeriod>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryAllocationPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryAllocationPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TertiaryAllocationPercentage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Project)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllocationPeriod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PrimaryAllocatedMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondaryAllocatedMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TertiaryAllocatedMember)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryAllocationPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryAllocationPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TertiaryAllocationPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllocationPeriod.AllocationPeriodId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrimaryAllocatedMember.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondaryAllocatedMember.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TertiaryAllocatedMember.MemberId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
