﻿@model ProjectsResourcePlanner.Models.ViewModels.MemberAllocationPeriodViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>MemberAllocationPeriod</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Member" class="control-label"></label>
                @*<select asp-for="MemberId" class ="form-control" asp-items="ViewBag.MemberId"></select>*@
                <select class="champion-members form-control" name="MemberId">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="AllocationPeriod" class="control-label"></label>
                @*<select asp-for="AllocationPeriodId" class ="form-control" asp-items="ViewBag.AllocationPeriodId"></select>*@
                <select class="allocation-periods form-control" name="AllocationPeriodId"></select>
            </div>
            <div class="form-group">
                <label asp-for="LeaveDays" class="control-label"></label>
                <input asp-for="LeaveDays" class="form-control" />
                <span asp-validation-for="LeaveDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script type="text/javascript">
    $(document).ready(function () {

        $('.champion-members').select2({
            theme: "bootstrap",
            placeholder: "Type the first 3 letters of the Members' name",
            minimumInputLength: 3,
            ajax: {
                url: '@Url.Action("GetAllMembers", "Projects")',
                dataType: 'json',
                traditional: true,
                width: 'resolve',
                data: function (param) {
                    return {
                        "searchTerm": param.term
                    };
                    // Additional AJAX parameters go here
                },
                processResults: function (data) {
                    return {
                        results: data.items.map(function (item) {
                            return {
                                id: item.memberId,
                                text: item.memberName
                            };
                        })
                    };
                }
            }
        });

        $('.allocation-periods').select2({
            theme: "bootstrap",
            placeholder: "Type the first 3 letters of the Allocation period",
            minimumInputLength: 3,
            ajax: {
                url: '@Url.Action("GetAllPeriods", "AllocationPeriods")',
                dataType: 'json',
                traditional: true,
                width: 'resolve',
                data: function (param) {
                    return {
                        "searchTerm": param.term
                    };
                    // Additional AJAX parameters go here
                },
                processResults: function (data) {
                    return {
                        results: data.items.map(function (item) {
                            return {
                                id: item.allocationPeriodId,
                                text: item.periodName
                            };
                        })
                    };
                },
            }
        });

    });
</script>