﻿@model IEnumerable<ProjectsResourcePlanner.Models.DomainModels.MemberAllocationPeriod>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Hours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Member)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AllocationPeriod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AllocationPeriod.PeriodName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { memberId = item.MemberId, allocationPeriodId = item.AllocationPeriodId }) |
                @Html.ActionLink("Details", "Details", new {  memberId = item.MemberId, allocationPeriodId = item.AllocationPeriodId  }) |
                @Html.ActionLink("Delete", "Delete", new { memberId = item.MemberId, allocationPeriodId = item.AllocationPeriodId })
            </td>
        </tr>
}
    </tbody>
</table>
