﻿@model IEnumerable<ProjectsResourcePlanner.Models.DomainModels.AllocationPeriod>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PeriodName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingDays)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PeriodName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingDays)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AllocationPeriodId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AllocationPeriodId">Details</a> |
                @*<a asp-controller="ProjectAllocationPeriods" asp-action="Create" asp-route-id="@item.AllocationPeriodId">Allocate</a> |*@
                @Html.ActionLink("Allocate", "Create", "ProjectAllocationPeriods", new { allocationPeriodId = item.AllocationPeriodId }) |
                <a asp-action="Delete" asp-route-id="@item.AllocationPeriodId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
