﻿@model ProjectsResourcePlanner.Models.DomainModels.Project

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ProjectId" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SLAHours" class="control-label"></label>
                <input asp-for="SLAHours" class="form-control" />
                <span asp-validation-for="SLAHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChampionMember" class="control-label"></label>
                @*<select asp-for="ChampionMemberId" class="form-control" asp-items="ViewBag.ChampionMemberId"></select>*@
                <select class="champion-members form-control" name="ChampionMemberId">
                    <option value="@Model.ChampionMemberId" selected="selected">@Model.ChampionMember.Name</option>
                </select>
                <span asp-validation-for="ChampionMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">
    $(document).ready(function () {

        $('.champion-members').select2({
            theme: "bootstrap",
            placeholder: "Type the first 3 letters of the Members' name",
            minimumInputLength: 3,
            tags: true,
            createTag: function (params) {
                return {
                    id: params.term,
                    text: params.term,
                    newOption: true
                }
            },
            ajax: {
                url: '@Url.Action("GetAllMembers")',
                dataType: 'json',
                traditional: true,
                width: 'resolve',
                data: function (param) {
                    return {
                        "searchTerm": param.term
                    };
                    // Additional AJAX parameters go here
                },
                processResults: function (data) {
                    return {
                        results: data.items.map(function (item) {
                            return {
                                id: item.memberId,
                                text: item.memberName
                            };
                        })
                    };
                }
            }
        });
    });

</script>
